# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.out
*.test
coverage.txt

# Go workspace
vendor/
go.work

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker / Buildx
.docker/

# Helm
*.tgz
charts/*/charts/
charts/*/tmpcharts/
